<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/blur1.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <img height="45" width="325" src="../img/sa.png">
                <h4>Kelompok Masyarakat Rentan</h4>
            </div>
        </div>
      <div style="color:#bdc3c7;font-size: 15px;  text-align: center" class="title">Login dengan : </div>

      <div class="loginsocmed">
        <button class="button button-block button-light" ui-sref="app.profile" ><i class="icon ion-social-facebook"></i> Facebook</button>
        <button class="button button-block button-light" ui-sref="app.profile" ><i class="icon ion-social-twitter"></i> Twitter</button>
        <button class="button button-block button-light" ui-sref="app.profile" ><i class="icon ion-social-google"></i> Google</button>
      </div>
    </ion-content>

<style type="text/css">
    .md-input{
        border-radius: 20px;
    }

    .loginsocmed {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .hero>.content {
      bottom: inherit;
      margin-top: 100px;
    }
</style>

</ion-view>

