<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/black.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <img height="45" width="325" src="../img/sa.png">
                <h4>Kelompok Masyarakat Rentan</h4>
            </div>
        </div>
      <div style="color:#bdc3c7;font-size: 15px;  text-align: center" class="title">Login User : </div>

      <div class="loginsocmed">
        <button class="button button-block button-light" ui-sref="app.profile" ><i class="icon ion-social-facebook"></i> Facebook</button>
        <button class="button button-block button-light" ui-sref="app.profile" ><i class="icon ion-social-twitter"></i> Twitter</button>
        <button class="button button-block button-light" ui-sref="app.profile" ><i class="icon ion-social-google"></i> Google</button>
      </div><br/><br/><br/><br/>

<p style="color: #bdc3c7; font-size: 15px; text-align: right; margin-right:25px; margin-bottom:5px">Login Sebagai Pemda</p>

<a ui-sref="app.loginPemda" href=""> 
  <p style="color: white;  font-size: 18px;  text-align: right; margin-right:25px; margin-bottom:5px">Masuk
    <i class="icon ion-arrow-right-a"></i>
  </p> 
</a>
    </ion-content>

<style type="text/css">
    .md-input{
        border-radius: 20px;
    }

    .loginsocmed {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .hero>.content {
      bottom: inherit;
      margin-top: 145px;
    }
</style>

</ion-view>

