<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/black.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <img height="45" width="325" src="../img/sa.png">
                <h4>Kelompok Masyarakat Rentan</h4>
            </div>
        </div>

        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-person placeholder-icon"></i>
            <input type="text" placeholder="Username">
          </label>
        </div>

        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-unlocked placeholder-icon"></i>
            <input type="text" placeholder="Password">
          </label>
        </div>
      <div  class="padding">
            <button style="border-radius: 20px;" ui-sref="app.profilePemda" class="button button-full button-assertive ink ">Sign In</button>
      </div> <a ui-sref="app.map" href="" style="text-decoration:none"> <div style="color:#bdc3c7;font-size: 15px;  text-align: center" class="title"> Forgot Your Password ?</div></a>
      <br/><br/><br/><br/>

    <a ui-sref="app.login" href=""><p style="color: white; width: 50%; float: left; font-size: 20px; text-align: center;"><i class="icon ion-arrow-left-a"></i> Back</p> </a>

    </ion-content>

<style type="text/css">
    .md-input{
        border-radius: 20px;
    }
</style>

</ion-view>

