<ion-view view-title="Peta">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
            <div class="card" style="background-color: #E0E2E4">
              <h4 style="text-align:center"><b>Keterangan </b></h4> <br/>
              <table border=1 width=100%>
              <tr>
                <td width=25%><i style="font-size: 40px;color:blue" class="ion-ios-location"></i></td>
                <td width=25%><i style="font-size: 40px;color:yellow" class="ion-ios-location"></td>
                <td width=25%><i style="font-size: 40px;color:red" class="ion-ios-location"></td>
              </tr>
              <tr>
                <td width=25%><p>Sudah Ditindak</p></td>
                <td width=25%><p>Rencana</p></td>
                <td width=25%><p>Belum Ditindak</p></td>
              </tr>
            </table>
          </div> 
        <div class="peta">
        <img height="100%" width="100%" src="../img/peta.png">
        </div>
    </ion-content>
</ion-view>
<style type="text/css">
  td{
    text-align: center;
  }
</style>
