<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/jogja.jpg');"></div>
                <div class="jenengbung"><h4 class="jeneng"><a class="light">Pemda Yogyakarta</a></h4></div>
                <div class="kotakketer">
                  <a ui-sref="app.gallery"><p class="ketenya">16<br/><span>submit</span></p></a>
                  <a ui-sref="app.tindakan"><p class="ketenya">6<br/><span>tindakan</span></p></a>
                  <a href=""><p class="ketenya">10<br/><span>pending</span></p></a>
                </div>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.profile" class="tab-item">
                <i class="icon ion-ios-copy"></i> Profil 
            </a>
            <a ui-sref="app.jepret" class="tab-item">
                <i class="icon ion-ios-cloud-upload"></i> Upload 
            </a>
            <a ui-sref="app.stat" class="tab-item">
                <i class="icon ion-stats-bars"></i> Statistik
            </a>
        </div><br>
        <div class="card">
          <div class="item item-text-wrap">
            <h2 style="font-size: 18px;">  <b>LSM Peduli Bangsa</b></h2> 
              <p class="jln">Jalan Perintis Kemerdekaan, Wirokerten, Banguntapan, Bantul, Yogyakarta</p>
            <em><p class="tanggalsweep">12 Mei 2015</p></em>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
            <h2 style="font-size: 18px;"><b>Pemerintah Daerah Yogyakarta</b></h2>
            <p class="jln">Jalan Malioboro</p>
            <p class="tanggalsweep">30 Juli 2015</p>
          </div>
        </div>
        <div class="card">
           <div class="item item-text-wrap">
            <h2 style="font-size: 18px;"><b>Pemerintah Daerah Bantul</b></h2>
            <p class="jln">Jl. Lingkar Selatan No. 110, Daerah Istimewa Yogyakarta</p>
            <p class="tanggalsweep">25 Agustus 2015</p>
          </div>
        </div>
        <div class="card">
           <div class="item item-text-wrap">
            <h2 style="font-size: 18px;"><b>LSM Bina Ummat Mandiri</b></h2>
            <p class="jln"> Jl. Jendral Sudirman No. 38, Terban, Gondokusuman, Kec. Sleman, Daerah Istimewa Yogyakarta</p>
            <p class="tanggalsweep">09 September 2015</p>
          </div>
        </div>
    </ion-content>
</ion-view>
<style>
 .card{
    background-color: #ECECEC;
  }
  p.jln{
        float: left;
        width: 100%;
  }

  p.tanggalsweep {
    /* margin-top: -30px; */
    margin-left: 234px;
    font-size: 10px;
      float: right;
        font-style: italic;
  }
  .ink.dark-bg {
      height: 70px;
  }

  .content .jeneng {
    margin-bottom: 15px;
  }

  .tabs.tabs-dark.tabs-icon-top.static {
    border-color: rgb(68, 68, 68);
    margin-top: -55px;
    background-color: white;
    color: black;
    padding-top: 5px;
  }

  .hero>.content>.avatar {
    background-position: center;
    background-size: cover;
    border: solid 1px rgba(255,255,255,.8);
    border-radius: 50%;
    display: inline-block;
    height: 88px;
    left: 20px;
    margin-bottom: 10px;
    position: inherit;
    width: 88px;
    margin-top: -173px;
  }

  .avatar {
    float: left;
  }

  .jenengbung {
    float: right;
    margin-top: -176px;
    margin-right: 60px;
  }

  .light, a.light {
      color: black;
      font-size: 22px;
  }

  .kotakketer {
    float: right;
    margin-top: -140px;
    margin-right: 20px;
    background-color: rgb(68, 68, 68);
    width: 220px;
    border-radius: 7px;
  }

  .kotakketer p {
    float: left;
    color: white;
    margin-top: 5px;
    margin-left: 18px;
    margin-bottom: 5px;
  }

  .wrapis {
    margin-top: 8px;
  }
  
</style>
