<ion-view view-title="Statistik">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <!-- <div class="row" id="chart1" config="chartConfig" class="span10" style="min&#45;width: 310px; max&#45;width: 800px; height: 400px; margin: 0 auto"> -->
      <div class="row">
        <highchart id="chart1" config="chartConfig" class="span10" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></highchart>
      </div>
    </ion-content>
</ion-view>
