<ion-view view-title="Tindakan Pemerintah">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="card">
          <div class="item item-text-wrap">
            <h2 style="font-size: 18px;">  <b>LSM Peduli Bangsa</b></h2> 
              <p class="jln">Jalan Perintis Kemerdekaan, Wirokerten, Banguntapan, Bantul, Yogyakarta</p>
            <em><p class="tanggalsweep">12 Mei 2015</p></em>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
            <h2 style="font-size: 18px;"><b>Pemerintah Daerah Yogyakarta</b></h2>
            <p class="jln">Jalan Malioboro</p>
            <p class="tanggalsweep">30 Juli 2015</p>
          </div>
        </div>
        <div class="card">
           <div class="item item-text-wrap">
            <h2 style="font-size: 18px;"><b>Pemerintah Daerah Bantul</b></h2>
            <p class="jln">Jl. Lingkar Selatan No. 110, Daerah Istimewa Yogyakarta</p>
            <p class="tanggalsweep">25 Agustus 2015</p>
          </div>
        </div>
        <div class="card">
           <div class="item item-text-wrap">
            <h2 style="font-size: 18px;"><b>LSM Bina Ummat Mandiri</b></h2>
            <p class="jln"> Jl. Jendral Sudirman No. 38, Terban, Gondokusuman, Kec. Sleman, Daerah Istimewa Yogyakarta</p>
            <p class="tanggalsweep">09 September 2015</p>
          </div>
        </div>
        <div class="card">
           <div class="item item-text-wrap">
            <h2 style="font-size: 18px;"><b>LSM Untuk Negri</b></h2>
            <p class="jln">Jl. Ringroad Utara - Maguwoharjo, Depok, Sleman, Daerah Istimewa Yogyakarta</p>
            <p class="tanggalsweep">09 Oktober 2015</p>
          </div>
        </div>
        <div class="card">
           <div class="item item-text-wrap">
            <h2 style="font-size: 18px;"><b>Pemerintah Daerah Sleman</b></h2>
            <p class="jln">Terminal Condong Catur</p>
            <p class="tanggalsweep">14 Oktober 2015</p>
          </div>
        </div>
    </ion-content>
</ion-view>

<style type="text/css">
  .card{
    background-color: #ECECEC;
  }
  p.jln{
        float: left;
        width: 100%;
  }

  p.tanggalsweep {
    /* margin-top: -30px; */
    margin-left: 234px;
    font-size: 10px;
      float: right;
        font-style: italic;
  }
</style>
