<ion-view view-title="Tindakan">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="card">
          <div class="item item-text-wrap">
            <h2 style="font-size: 18px;">  <b>LSM Barokah</b></h2> 
              <p class="jln">Jalan ir.Soekarno</p>
              <p>12 Desember 2015</p>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
            <h2 style="font-size: 18px;"><b>Gudang Batik</b></h2>
            <p class="jln">Jalan Ustman </p>
            <p>30 Oktober 2015</p>
          </div>
        </div>
        <div class="card">
           <div class="item item-text-wrap">
            <h2 style="font-size: 18px;"><b>TPMC giwangan</b></h2>
            <p class="jln">Jalan Mondokan </p>
            <p>25 Maret 2015</p>
          </div>
        </div>
        <div class="card">
           <div class="item item-text-wrap">
            <h2 style="font-size: 18px;"><b>Terminal</b></h2>
            <p class="jln">Jalan Mbatu </p>
            <p>09 Januari 2015</p>
          </div>
        </div>
    </ion-content>
</ion-view>

<style type="text/css">
  .card{
    background-color: #ECECEC;
  }
  .jln{
        float: left;
        width: 135px;
  }
</style>